/*Ejercicio1:Centrar el texto en un span*/

/*Arrancaremos este ejercicio por vos:*/

#ejercicioUno{
    display: block;
    text-align: center;
}
/*Ejercicio2:Posicionar el header*/

#ejercicioDos{
    display: none;
}

/*Acá va tu código/


/*Ejercicio3:*/

/*Acá va tu código/


/*Ejercicio4:*/

/*aqui va tu codigo*/
